@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron mt-3">
    <h1>Página de prueba</h1>
    <p class="lead">Esta es una plantilla con la cual usted podrá ver un aproximado a lo que se ofrece a nivel estético y funcional.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Apariencia de la página</h2>
        <p>
            La estructura vista en esta demostración es únicamente demostrativa y puede ser altamente modificable según las peticiones y necesidades particulares del cliente.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Información multimedia</h2>
        <p>
            La página puede ser modificada para agregar imágenes, videos, colores y disposiciones a su gusto para dar la imagen que desee.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Página responsiva</h2>
        <p>
            La página se podrá ver apropiadamente en dispositivos grandes y pequeños, incluso en dispositivos móviles, y se adaptará a cada uno de ellos para verse lo mejor posible.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>